certifi==2020.4.5.2
cffi==1.14.0
chardet==3.0.4
colormath==3.0.0
decorator==4.4.2
idna==2.10
Naked==0.1.31
networkx==2.4
numpy==1.18.5
pycparser==2.20
pycryptodome==3.9.7
PyYAML==5.4
requests==2.24.0
shellescape==3.8.1
six==1.15.0
urllib3==1.25.10
